// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap/_variables.scss';

// Colors:
$primary: #EDEFF0;
$secondary: white;
$text: black;
//$accent: #b3e0f2;
$accent: silver;
//$border: #FFBB71;
$border: silver;

:root {
  font-family: $font-family-serif;
  font-size: 16px;
  font-weight: 300;
  color: $text;
  background: white;
  line-height:1.5rem;
}

.container {
  margin-top: 70px;
}

#header {
  .title {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -.5px;
    margin: 0;
    text-indent: 5%;
    height: 42px;
    display: inline-block;
    padding: 10px 0 10px 0;
    white-space: nowrap;
    h1 {
      text-indent: 2vw;
      margin: 0;
    }
    h4 {
      display: inline;
    }
  }
  .title_edit {
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
  }
  .search_index li {
    float: left;
    margin: 2px;
    list-style-type: none;
  } 
}

#main {
  padding: 2%;
  line-height: 1.5rem;
  background: $secondary;
  border-radius: 5px;
  border: 2px solid $accent;
  
  form,
  form div{
    font-family: $font-family-sans-serif;
    display: inline-block;
  }
  .table_buttons {
    white-space: nowrap;
  }
}

#sidebar {
  background: $secondary;
  border: 2px solid $accent;
  margin: 0;
  padding: 0;
  float: right;
  border-radius: 5px;
  h3, h4 {
    font-family: $font-family-sans-serif;
    text-align: center;
    margin-top: 10px;
  }
  .daily_img img {
    max-width: 90%;
    display: block;
    margin: 5% auto;
    }
  .info {
    color: $text;
    margin: 8px;
  }
}

.search_index li.btn.search_submit {
  padding: 0px;
  margin-top: 8px;
}