:root {
  font-family: "Noticia Text", "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
  background: white;
  line-height: 1.5rem; }

.container {
  margin-top: 70px; }

#header .title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -.5px;
  margin: 0;
  text-indent: 5%;
  height: 42px;
  display: inline-block;
  padding: 10px 0 10px 0;
  white-space: nowrap; }
  #header .title h1 {
    text-indent: 2vw;
    margin: 0; }
  #header .title h4 {
    display: inline; }
#header .title_edit {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem; }
#header .search_index li {
  float: left;
  margin: 2px;
  list-style-type: none; }

#main {
  padding: 2%;
  line-height: 1.5rem;
  background: white;
  border-radius: 5px;
  border: 2px solid silver; }
  #main form,
  #main form div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block; }
  #main .table_buttons {
    white-space: nowrap; }

#sidebar {
  background: white;
  border: 2px solid silver;
  margin: 0;
  padding: 0;
  float: right;
  border-radius: 5px;
  height: 800px; }
  #sidebar h3, #sidebar h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 10px; }
  #sidebar .daily_img img {
    max-width: 90%;
    display: block;
    margin: 5% auto; }
  #sidebar .info {
    color: black;
    margin: 8px; }

.search_index li.btn.search_submit {
  padding: 0px;
  margin-top: 8px; }
