<!DOCTYPE html>
<html>
<head>
  <title>Lifewiki</title>
  <%= stylesheet_link_tag    "homepage", media: "all"%>
  <%= javascript_include_tag "homepage"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <nav class="clearfix">
      <p>Jonah Potter</p>
      <ul>
        <li><a href="#" class="link">Days</a></li>
        <li><a href="#" class="link">People</a></li>
        <li><a href="#" class="link">Places</a></li>
        <li><a href="#" class="link">Concepts</a></li>
      </ul>
    </nav>
    <div class="pocket_shadow"></div>
    <div class="pocket_hide"></div>
  </div>

<%= yield %>

</body>
</html>
